* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(199, 247, 243, 0.932);
  box-sizing: border-box;
}
body h1 {
  color: rgba(0, 0, 0, 0, 0.5);
}
.container {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.main {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  grid-template-rows: 70px 70px 70px 70px 70px 70px;
  row-gap: 0;
  column-gap: 10px;
  border: 15px solid white;
  border-radius: 0 35px 0px 35px;
  background-color: rgb(111, 245, 189);
  padding: 10px 20px 20px 20px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box0,
.boxdiv,
.boxmul,
.boxadd,
.boxsub,
.boxclear,
.boxdot,
.boxequal {
  text-align: center;
  margin-top: 20px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  font-size: 30px;
  background-color: aqua;
}
.boxequal {
  grid-column-start: 1;
  grid-column-end: 5;
}
.screen {
  margin-top: 10px;
  grid-column-start: 1;
  grid-column-end: 5;
}
#input {
  height: 60px;
  width: 300px;
  margin: 4px;
  border-radius: 4px;
  font-size: 35px;
  border: 2px solid black;
}
